<div class="page-header">
  <h1>Restaurant's</h1>
</div>

<table class="table table-striped">
  <thead>
    <th>#</th>
    <th></th>
    <th>Name</th>
    <th>City</th>
    <th>Slug</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.id %></td>
      <td><%= image_tag restaurant.image.thumb('20x20#').url %></td>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.city.name %></td>
      <td><%= restaurant.slug %></td>
      <td><%= link_to '[edit]', edit_admin_restaurant_path(restaurant) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
