<header>
	<h1><%= @restaurant.name %></h1>
	<div class="fuck-alles">
		<div class="social left">
			<a href="<%= @restaurant.website %>">Website</a>
		</div>
		<div id="restaurant--logo">
			<%= image_tag 'uurwerker.png' %>

		</div>
		<div class="social right">
			<a href="<%= @restaurant.facebook %>">FB</a>
		</div>
	</div>
</header>

<section id="categories">
	<ul>
    <% @menus.each do |menu| %>
      <li><%= link_to menu.name, [@city, @restaurant, menu], class: "menu-#{menu.menu_type.name}" %></li>
    <% end %>
	</ul>
</section>
