<div class="page-header">
  <h1>Menu's</h1>
</div>

<table class="table table-striped table-hover table-cursor">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Restaurant</th>
    <th>Slug</th>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
    <tr data-href="<%= url_for admin_menu_path(menu) %>">
      <td><%= menu.id %></td>
      <td><%= menu.name %></td>
      <td><%= menu.restaurant.name %></td>
      <td><%= menu.slug %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.table > tbody > tr').on('click', function() {
  document.location = $(this).data('href');
});
</script>
